<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="category">
      <h2 data-cy="categoryDetailsHeading"><span>Category</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ category.id }}</span>
        </dd>
        <dt><span>Code</span></dt>
        <dd>
          <span>{{ category.code }}</span>
        </dd>
        <dt><span>Type</span></dt>
        <dd>
          <span>{{ category.type }}</span>
        </dd>
        <dt><span>Active</span></dt>
        <dd>
          <span>{{ category.active }}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
          <span>{{ category.name }}</span>
        </dd>
        <dt><span>Label</span></dt>
        <dd>
          <span>{{ category.label }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/category', category.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
