<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="coach">
      <h2 data-cy="coachDetailsHeading"><span>Coach</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ coach.id }}</span>
        </dd>
        <dt><span>Country</span></dt>
        <dd>
          <span>{{ coach.country }}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
          <span>{{ coach.name }}</span>
        </dd>
        <dt><span>Surname</span></dt>
        <dd>
          <span>{{ coach.surname }}</span>
        </dd>
        <dt><span>Type</span></dt>
        <dd>
          <span>{{ coach.type }}</span>
        </dd>
        <dt><span>Email</span></dt>
        <dd>
          <span>{{ coach.email }}</span>
        </dd>
        <dt><span>Phone</span></dt>
        <dd>
          <span>{{ coach.phone }}</span>
        </dd>
        <dt><span>Resume</span></dt>
        <dd>
          <span>{{ coach.resume }}</span>
        </dd>
        <dt><span>Contact</span></dt>
        <dd>
          <span>{{ coach.contact }}</span>
        </dd>
        <dt><span>Lang</span></dt>
        <dd>
          <span>{{ coach.lang }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/coach', coach.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
