<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="company">
      <h2 data-cy="companyDetailsHeading"><span>Company</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ company.id }}</span>
        </dd>
        <dt><span>Country</span></dt>
        <dd>
          <span>{{ company.country }}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
          <span>{{ company.name }}</span>
        </dd>
        <dt><span>State</span></dt>
        <dd>
          <span>{{ company.state }}</span>
        </dd>
        <dt><span>License</span></dt>
        <dd>
          <span>{{ company.license }}</span>
        </dd>
        <dt><span>Start</span></dt>
        <dd>
          <span>{{ company.start | formatMediumDatetime }}</span>
        </dd>
        <dt><span>End</span></dt>
        <dd>
          <span>{{ company.end | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Email</span></dt>
        <dd>
          <span>{{ company.email }}</span>
        </dd>
        <dt><span>Phone</span></dt>
        <dd>
          <span>{{ company.phone }}</span>
        </dd>
        <dt><span>Address</span></dt>
        <dd>
          <span>{{ company.address }}</span>
        </dd>
        <dt><span>Billing Phone</span></dt>
        <dd>
          <span>{{ company.billingPhone }}</span>
        </dd>
        <dt><span>Billing Email</span></dt>
        <dd>
          <span>{{ company.billingEmail }}</span>
        </dd>
        <dt><span>Billing Address</span></dt>
        <dd>
          <span>{{ company.billingAddress }}</span>
        </dd>
        <dt><span>Vatin</span></dt>
        <dd>
          <span>{{ company.vatin }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/company', company.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
